.iconChangeProfile {
  object-fit: cover;
  transform: scale(1.15);
}

.fluidContainerProfile {
  min-height: 55vh;
}

.iconDeleteUser {
  border-radius: 50%;
}

.profileContainer {
  display: flex;
}
