.iconChangeProfile {
  object-fit: cover;
  transform: scale(1.15);
}

.fluidContainerProfile {
  min-height: 55vh;
}

.iconDeleteUser {
  border-radius: 50%;
}

.profileBody {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.profilePageContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vh;
}
