.imageUser {
  background-color: white;
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #28c6ff;
}

.emailUser {
  text-align: center;
}

.dataProfile {
  padding: 2rem;
}
