@import url("https://fonts.googleapis.com/css?family=Raleway");

.imageUser {
  background-color: white;
  height: 280px;
  width: 280px;
  object-fit: cover;
  border-radius: 50%;
}

.emailUser {
  text-align: center;
  color: #8080809c;
  font-family: "Raleway", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  padding-top: 15px;
}

.emailUser p {
  text-align: center;
  color: #8080809c;
  font-family: "Raleway", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  padding-top: 15px;
}

.dataProfile {
  width: 20vw;
  padding: 15px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
