@import url("https://fonts.googleapis.com/css2?family=Unica+One");

.SidebarContainer {
  height: 100vh;
  width: 100%;
  background-color: rgb(214, 214, 214);
  background-image: url(https://i.blogs.es/ff4f41/elqk-v1wmauw09m/1366_2000.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

.Logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.Logo img {
  width: 200px;
}

.SidebarLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #28c6ff;
  font-family: Unica One;
  font-size: 30px;
}

.SidebarItem {
  background-color: #edededcf;
  height: 100px;
  width: 100%;
  margin: 10px;
  border-width: none;
}
