.ForgotPasswordBody {
  background-color: rgb(255, 255, 255);
  margin: auto;
  display: flex;
  flex-direction: column;
  background-image: url(https://wallpaperaccess.com/full/4382084.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  height: 100%;
}
