@import url("https://fonts.googleapis.com/css?family=Raleway");

.welcomeBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-image: url(https://wallpaperaccess.com/full/4382084.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.HeaderWelcomeContainer {
  width: 100%;
  height: 25%;
  background: rgba(255, 255, 255, 1);
  padding: 10px 5px 5px 5px;
  text-align: center;
}
.Link {
  align-self: right;
}

.HeaderWelcomeContainer h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 60px;
  color: #5db5ae;
  font-weight: 600;
  text-align: center;
}

.HeaderWelcomeContainer p {
  font-family: "Raleway", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  font-size: 16px;
  margin-top: 5px;
}

.btn-register {
  width: 40%;
  height: 50px;
  margin: 20px;
  background: #5db5ae;
  color: #fff;
  cursor: pointer;
  border: #5db5ae 1px solid;
  border-radius: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
}

.CarruselContainer {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
}

.CarruselContainer button {
  font-size: 25px;
  color: #5db5ae;
  border-radius: 100%;
  border-color: none;
  height: 50px;
  width: 50px;
  background-color: #ffffff9d;
  margin: 20px;
  font-family: "Raleway";
}

.CarruselContainer img {
  width: 180px;
  height: 110px;
  display: cover;
  margin: 10px 8px 5px 8px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.21);
  border: 1px solid #ffffff7b;
}

.PromotionContainer {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.PromotionContainer img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.PromotionSection {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 30px;
}

.PromotionText {
  width: 30%;
  height: 20%;
  margin: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  text-align: center;
  color: #fff;
}
