.containerDataNoChange {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin-top: 2rem;
  border-radius: 20px;

  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 27%,
    rgba(171, 171, 171, 1) 100%
  );

  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 27%,
    rgba(171, 171, 171, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 27%,
    rgba(171, 171, 171, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 27%,
    rgba(171, 171, 171, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 27%,
    rgba(171, 171, 171, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ababab', GradientType=0 );
}

.formProfile {
  margin: 2rem;
}

@media (max-width: 900px) {
  .containerProfile {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .containerProfile {
    width: 90vw;
  }
}

@media (max-width: 400px) {
  .formProfile {
    margin: 0.5rem;
  }
}
